/* CABEÇALHO */

.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecalho__pesquisar__item {
    display: none;
}

/* MENU */



/* SEÇÃO SUPERIOR */



/* VIDEO */



/* DESAFIO VIDEO */



/* RODAPÉ */



@media screen and (min-width: 834px) {
    /* CABEÇALHO */

    .cabecalho__pesquisar__item {
        display: block;
    }

    /* MENU LATERAL ADICIONADO NA ATIVIDADE EXTRA */

  

    /* RODAPÉ */

}

@media(min-width: 1440px) {

    /* MENU */

   

}